@model Fshop.Areas.Admin.Models.AdminUser;
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main id="main" class="main">
    <div class="pagetitle">
        <h2>Xác nhận thêm người dùng</h2>
    </div>
    <div class="container shadow p-5">
        <div class="row pb-2">
            <h2>Thêm mới người dùng</h2>
        </div>
        <form method="post">
            <div asp-validation-summary="All"></div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="UserName">Tên người dùng</label>
                    <input type="text" class="form-control mb-3" asp-for="UserName" placeholder="Nhập tên người dùng" />
                    <span asp-validation-for="UserName" class="alert-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Email">Email</label>
                    <input type="email" class="form-control mb-3" asp-for="Email" placeholder="Nhập email" required />
                    <span asp-validation-for="Email" class="alert-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Password">Mật khẩu</label>
                    <input type="text" class="form-control mb-3" asp-for="Password" placeholder="Nhập mật khẩu" />
                    <span asp-validation-for="Password" class="alert-danger"></span>
                </div>
                <div class="form-group mt-5 mb-5">
                    <label>
                        @Html.CheckBox("IsActive",false)
                        Hiển thị
                    </label>
                </div>
            </div>
            <a class="btn btn-lg btn-outline-dark p-2 mr-5" href="javascript:history.back()">
                <i class="bi bi-arrow-left-circle"></i>Quay lại
            </a>
            <button type="submit" class="btn btn-lg btn-outline-dark p-2">
                <i class="bi bi-file-plus-fill"></i> Lưu lại
            </button>

        </form>
    </div>
</main>