@using Fshop.Utilities;
@model Fshop.Models.Post

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main id="main" class="main">
    <div class="pagetitle">
        <h2>Thêm mới bài viết</h2>
    </div>
    <!--Begin Form-->
    <form asp-action="Create" method="post">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="MenuID">Chọn mục</label>
                <select asp-for="MenuID" class="form-control" asp-items="@(new SelectList(ViewBag.postList,"Value", "Text"))"></select>
                <span asp-validation-for="MenuID" class="alert-danger"></span>
            </div>

            <div class="form-group col-md-12">
                <label asp-for="Title">Tiêu đề</label>
                <input type="text" class="form-control mb-3" asp-for="Title" />

            </div>

            <div class="form-group col-md-12">
                <label asp-for="Author">Người thêm</label>
                <input type="text" class="form-control mb-3" asp-for="Author" />
            </div>
            <div class="form-group col-md-12">
                <label class="control-label">Ngày tạo</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                    </div>
                    <input type="datetime-local" class="form-control" id="createdDate" asp-for="CreatedDate" />
                </div>
            </div>

            <div class="form-group col-md-12">
                <label class="control-label">Ảnh</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-success" type="button" onclick="openDialog()">Chọn ảnh</button>
                    </div>
                    <input type="text" class="form-control" asp-for="Images" id="file_input" aria-describedby="button-addon2" />
                </div>
            </div>

            <div class="form-group col-md-12">
                <label asp-for="Contents">Nội dung</label>
                <textarea asp-for="Contents" class="form-control"></textarea>
            </div>

            <div class="form-group col-md-6 mt-3 mb-3">
                <label>
                    Hiển thị
                    @Html.CheckBox("IsActive",false)
                </label>
            </div>

            <div class="form-group d-none">
                <input asp-for="CreatedDate" class="form-control" value="@Functions.getCurrentDate()" />
            </div>

            <div class="form-group d-none">
                <input asp-for="PostOrder" class="form-control" value="1" />
            </div>
            <div class="form-group d-none">
                <input asp-for="Category" class="form-control" value="1" />
            </div>
            <div class="form-group d-none">
                <input asp-for="Status" class="form-control" value="1" />
            </div>
            <div class="form-group d-none">
                <input asp-for="Link" class="form-control" value="NULL" />
            </div>
        </div>
        <a class="btn btn-lg btn-outline-dark p-2 mr-5" href="javascript:history.back()">
            <i class="bi bi-arrow-left-circle"></i>Quay lại
        </a>
        <button type="submit" class="btn btn-lg btn-outline-dark p-2">
            <i class="bi bi-file-plus-fill"></i> Lưu lại
        </button>
    </form>
    <!--End Form-->
</main>
@{
    var summerNote = new Fshop.Areas.Admin.Models.SummerNote("#Contents");
    <partial name="_SummerNote" model="summerNote" />
}
