@model IList<Fshop.Models.About>
@using Fshop.Utilities;
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p>Những người bán trái cây</p>
					<h1>Về chúng tôi</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end breadcrumb section -->
<!-- featured section -->
<div class="feature-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-7">
				<div class="featured-text">
					<h2 class="pb-3">Tại sao <span class="orange-text">chọn chúng tôi?</span></h2>
					<div class="row">
						<div class="container">
							@foreach (var feature in Model)
							{
								<div class="list-box">
									<div class="list-icon">
										<i class="@feature.FeaturesIcon"></i>
									</div>
									<div class="content">
										<h3>@feature.FeaturesTitle</h3>
										<p>@feature.Description <br /></p>
									</div>
								</div>
							}
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end featured section -->

<!-- shop banner -->
<section class="shop-banner">
	<div class="container">
		<h3>Duy nhất trong tháng này !! <br> giảm giá <span class="orange-text">cực khủng...</span></h3>
		<div class="sale-percent"><span>Lên tới</span>50% <span>cho từng sản phẩm</span></div>
		<a href="https://localhost:7079/Product" class="cart-btn btn-lg">Shop Now</a>
	</div>
</section>
<!-- end shop banner -->
@await Component.InvokeAsync("Review")
<!-- logo carousel -->
<div class="logo-carousel-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="logo-carousel-inner">
					<div class="single-logo-item">
						<img src="assets/img/company-logos/1.png" alt="">
					</div>
					<div class="single-logo-item">
						<img src="assets/img/company-logos/2.png" alt="">
					</div>
					<div class="single-logo-item">
						<img src="assets/img/company-logos/3.png" alt="">
					</div>
					<div class="single-logo-item">
						<img src="assets/img/company-logos/4.png" alt="">
					</div>
					<div class="single-logo-item">
						<img src="assets/img/company-logos/5.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end logo carousel -->